h3 Welcome Admiral!
button#smallButton.btn.btn-primary(name='singlebutton' ng-click='export()') Vote
div
    table.table.table-striped.row-border.hover(datatable='ng', dt-options='dtOptions', dt-columns='dtColumns', dt-instance='dtInstance')
      tbody
        tr(ng-repeat='person in votes')
          td {{ person.projectID }}
          td {{ person.projectName }}
          td {{ person.location }}
          td {{ person.vote[0] }}
          td {{ person.vote[1] }}
          td {{ person.vote[2] }}
          td {{ person.total }}
       tfoot
        tr
          th ID
          th Name
          th Location
          th Inspired
          th Taught 
          th Creative
          th Total