form#survey(ng-submit="submitForm()")
  fieldset
    .header
     img(src='/img/Hackathon_Logo.png')
    // Form Name 
    h3.projectName Test
    // Multiple Radios
    .radios(ng-repeat='question in questions')
      .control-group
        label.control-label(for='radios') {{question.description}}
        .controls(ng-repeat='xx in question.answers track by $index')
          label.radio
            input#radios-0(type='radio', ng-model='form.vote', name='radios', value='{{$index}}')
            |           {{xx}}
    // Button
    .control-group
      label.control-label(for='singlebutton')
      .controls.btn-control
        button#singlebutton.btn.btn-primary(name='singlebutton') Vote
