div.row
    .col.center
        h3 Welcome Admiral!
    .col
        button#smallButton.btn.btn-primary(name='singlebutton' ng-click='export()') Export
div.row
    .col
        table.table.table-striped.table-bordered.row-border.hover(datatable='ng', dt-options='dtOptions', dt-columns='dtColumns', dt-instance='dtInstance' width='100%')
          tbody
            tr(ng-repeat='person in votes')
          
              td {{ person.location }}
              td {{ person.projectName }}
              td {{ person.vote[0] }}
              td {{ person.vote[1] }}
              td {{ person.vote[2] }}
              td {{ person.total }}
           tfoot
            tr
          
              th Location
              th Name
              th Inspired
              th Taught 
              th Creative
              th Total