doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - My Express Application
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/datatables.bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/datatables.responsive.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
    base(href='/')
  body(ng-app='HackVote')

    .container
      .header
        img(src='/img/Hackathon_Logo.png')
       block content

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery.dataTables.min.js')
    script(src='/javascripts/jquery.dataTables.columnFilter.js')
    script(src='/javascripts/dataTables.responsive.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-ui-router.js')
    script(src='/javascripts/angular-datatables.js')
    script(src='/javascripts/angular-datatables.columnfilter.min.js')
    script(src='/javascripts/angular-datatables.bootstrap.js')
   
    

    script(src='/app/app.js')
    script(src='/app/controllers.js')
    block scripts
